*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;

}
.filter-side{
  flex-basis: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px 0;
  border-right: 1px solid rgba(65, 65, 65, 0.608);
}
.product-side{
  flex-basis: 80%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  overflow-y: scroll;
}
.input-box{
  width: 100%;
  padding: 5px 20px;
}
.input-box input{
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

.category{
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}
.category span{
  display: flex;
  gap: 15px;
}
.notfouns{
  width: 76vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

